* {
    border: 1px solid red;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header, .footer {
    background-color: #1F2937;
}

.container { 
    /* margin: 0 72px; */
    margin: 0 116.5px;
}

/* css mostly for header */
.header1 {
    padding: 10px 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header2 {
    margin: 0;
    padding: 72px 0;
    display: flex;
    justify-content: space-between;
    gap: 21px;
}

.header2 .image {
    min-width: 50%;
    color: #E5E7EB;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header3 {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: auto;
}

h1, p {
    margin: 0;
    padding: 0;
}

.header3 button {
    margin-top: 13px;
    max-width: 89px;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 5px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

.header3 > h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header3 > p {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 13px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* css for the content of page */
.content {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
}

/* css for body-1 */
.item > img {
    width: 89px;
    height: 89px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.body-1 > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 34px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.item-container {
    display: flex;
    margin-bottom: 72px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item .text {
    text-align: center;
    margin-top: 8px;
}

/* css for body-2 */
.body-2 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
}

.body-2 .container {
    margin: 72px 188.5px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.citation {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}